/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
License: none (public domain)
 */

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
	font-size: 100%;
font: inherit;
      vertical-align: baseline;
	}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
display: block;
	}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
	q:before, q:after {
content: '';
content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */
/* Major second scale */
/* Base */
p {
	 font-weight: 500;
	 padding: 1em;
}
body{
   /*Font unusually small, basis to 1.125 em*/
	 font-size: 1.125em; 
	 font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace; 
   line-height: 1.125em; 
	 padding-top: 1.125em;
	 padding-left: 1em;
	 padding-right: 1em;
   color: #9AD6A2;
	 background-color: #000000;
	 text-size-adjust: 100%;
}
img {
	 display: block; /* Images display inline by default */
	 max-width: 60%;
	 margin-left: auto;
	 margin-right: auto;
	 padding-bottom: 0em;
}
h1 {
  color: #DDDDDD;
  font-size: 1.802em;
  line-height: 1em;
  padding-top: 1em; 
  padding-left: 0.5625em; /* 1/2 of line height */
  padding-right: 0.5625em;
  padding-bottom: 1em;
  text-align: center;
}
h2 {
  color: #DDDDDD;
  font-size: 1.424em;
  line-height: 1em;
  padding-top: 0.889em; 
  padding-left: 0.4445em;
  padding-right: 0.4445em;
  padding-bottom: 0.889em;
  text-align: center;
}
h3 {
  color: #DDDDDD;
  font-size: 1.125em; 
  line-height: 1em;
  padding-top: 0.633em; 
  padding-left: 0.3165em;
  padding-right: 0.3165em;
  padding-bottom: 0.633em;
  text-align: center;
}
h4 {
  color: #DDDDDD;
	text-decoration: underline;
  font-size: 1.125em; 
  line-height: 1em;
  padding-top: 0.633em; 
  padding-left: 0.3165em;
  padding-right: 0.3165em;
  padding-bottom: 0.633em;
}
h5 {
  color: #DDDDDD;
	font-style: italic;
  font-size: 0.889em; 
  line-height: 1em;
  padding-top: 0.633em; 
  padding-left: 0.3165em;
  padding-right: 0.3165em;
  padding-bottom: 0.633em;
  text-align: center;
}

footer {
  color: #DDDDDD;
  font-size: 0.889em; 
  line-height: 1em;
  padding-top: 0.633em; 
  padding-left: 0.3165em;
  padding-right: 0.3165em;
  padding-bottom: 0.633em;
  text-align: left;
}
figcaption{
  padding-top: 1em;
  color: #FFFFFF;
	font-style: italic;
  text-align: center;
}
div {
	padding: 1em;
}
a {
	font-style: underline;
	color: #FFFFFF;
}
figure {
	display: block;
}
li {
	padding: 0.79em;
}
nav {
  display: block;
  font-size: 1.125em;
  text-align: center;
  padding-bottom: 1em;
 
}
nav a {
  padding-left: 1.266em;
  padding-right: 1.266em;
  line-height: 2.027em;
  color: #00FF00;
  white-space: nowrap;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-property: font-size color;
  -webkit-transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  transition-property: font-size color;
  transition-timing-function: ease-in-out;
}
nav a:hover {
  color: #FFFFFF;
  font-size: 1.266em;
}
h1 a{
  color: #DDDDDD;
}
h2 a{
  color: #DDDDDD;
}

/* Layout */
  .border {
    border-style: none;
    border-bottom-style: solid; /*pseudo hr*/
    border-width: 0.1em;
    border-color: white;
  }
#tumblrheader {
  font-size: 0.889em; 
  line-height: 1em;
  padding-top: 0.633em; 
  padding-left: 0.3165em;
  padding-right: 0.3165em;
  padding-bottom: 0.633em;
  text-align: center;
}
#tumblrheader h1 a {
  text-decoration: none;
}
/* Module */
  .home ul{
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
  }
  .home li{
	  font-style: italic;
  }
  .home a{
    -webkit-transition-duration: 0.25s;
    -webkit-transition-property: font-size color;
    -webkit-transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    transition-property: font-size color;
    transition-timing-function: ease-in-out;
  }
  .home a:hover {
    color: #FFFFFF;
    font-size: 1.266em;
  }
  .twocol hr {
    display: block;
  }
 
/* State */
@media screen and (max-width: 29.250em){
/* closest value to 480 pixels in major second scale */
  body {
    font-size: 1em;
  }
  h1 {
		font-size: 1.266em;
	}
	h2 {
		font-size: 1.125em;
	}
	div {
		padding: 0em;
	}
  img {
    max-width: 90%;
  }
}
@media screen and (min-width: 60.750em) {
/* closest value to 960 pixels in major second scale, only use .flexbox if supported */
	.home img {
    max-width: 40%;
  }
 .flexbox .flex-container {
		display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 175em;
    margin: auto;
	}
	.flexbox .flex-container .lcol {
		flex: 1 0 25%;
		min-width: 25%;	
	}
	.flexbox .flex-container .mcol {
        flex: 1 0 50%;
        min-width: 50%;
   }
	.flexbox .flex-container .halfwidth {
        flex: 0 1 46%;
        margin: 1em;
        padding: 0em;
        width: 46%;
   }
  .flexbox .flex-container .lcol img {
    max-width: 100%;
  }
  .border {
    border-style: solid;
    border-width: 0.1em;
    border-color: white;
  }
  }
