/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
	font-size: 100%;
font: inherit;
      vertical-align: baseline;
	}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
display: block;
	}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
	q:before, q:after {
content: '';
content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */
/* Major second scale */
/* Base */
p {
	 font-weight: 500;
	 padding: 1em;
}
body{
	 font-size: 1em; /*  16px */
   font-family: Courier New, Courier, monospace;
	 line-height: 1.125em; 
	 padding-top: 1.125em;
	 padding-left: 1em;
	 padding-right: 1em;
   color: #9AD6A2;
	 background-color: #000000;
	 text-size-adjust: 100%;
}
img {
	 display: block; /* Images display inline by default */
	 max-width: 40%;
	 margin-left: auto;
	 margin-right: auto;
	 padding-bottom: 0em;
}
h1 {
  color: #DDDDDD;
  font-size: 1.802em; /* 30px ctx 16px */
  line-height: 1em;
  padding-top: 1em; 
  padding-left: 0.5625em; /* 1/2 of line height */
  padding-right: 0.5625em;
  padding-bottom: 1em;
  text-align: center;
}
h2 {
  color: #DDDDDD;
  font-size: 1.424em; /* 23px ctx 16px */
  line-height: 1em;
  padding-top: 0.889em; 
  padding-left: 0.4445em;
  padding-right: 0.4445em;
  padding-bottom: 0.889em;
  text-align: center;
}
h3 {
  color: #DDDDDD;
  font-size: 1.125em; 
  line-height: 1em;
  padding-top: 0.633em; 
  padding-left: 0.3165em;
  padding-right: 0.3165em;
  padding-bottom: 0.633em;
  text-align: center;
}
h4 {
  color: #DDDDDD;
	text-decoration: underline;
  font-size: 1.125em; 
  line-height: 1em;
  padding-top: 0.633em; 
  padding-left: 0.3165em;
  padding-right: 0.3165em;
  padding-bottom: 0.633em;
}
h5 {
  color: #DDDDDD;
	font-style: italic;
  font-size: 0.889em; 
  line-height: 1em;
  padding-top: 0.633em; 
  padding-left: 0.3165em;
  padding-right: 0.3165em;
  padding-bottom: 0.633em;
  text-align: center;
}

figcaption{
  padding-top: 1em;
  color: #FFFFFF;
	font-style: italic;
  text-align: center;
}
div {
	padding: 1em;
}
a {
	font-style: underline;
	color: #FFFFFF;
}
figure {
	display: block;
}
li {
	padding: 0.79em;
}
/* Layout */
  .border {
    border-style: none;
    border-bottom-style: solid; /*pseudo hr*/
    border-width: 0.1em;
    border-color: white;
  }
/* Module */
  .home li{
	  font-style: italic;
  }
/* State */
@media screen and (max-width: 29.250em){
/* closest value to 480 pixels in major second scale */
	h1 {
		font-size: 1.266em;
		padding-bottom: 0em;
	}
	h2 {
		font-size: 1.125em;
	}

	img {
		display: none;
	}
	div {
		padding: 0em;
	}
}
@media screen and (min-width: 60.750em) {
/* closest value to 960 pixels in major second scale, only use .flexbox if supported */
	.flexbox .flex-container {
		display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
	}
	.flexbox .flex-container .lcol {
		flex: 1 0 25%;
		min-width: 25%;	
	}
	.flexbox .flex-container .mcol {
        flex: 1 0 50%;
        min-width: 50%;
   }
	.flexbox .flex-container .halfwidth {
        flex: 0 1 46%;
        margin: 1em;
        padding: 0em;
        width: 46%;
   }
  .flexbox .flex-container .lcol img {
    max-width: 100%;
  }
  .border {
    border-style: solid;
    border-width: 0.1em;
    border-color: white;
  }
  }
